USE [project_drink]
GO
/****** Object:  Table [dbo].[cart]    Script Date: 4/6/2026 2:01:30 AM ******/
EXEC sp_MSforeachtable 'ALTER TABLE ? NOCHECK CONSTRAINT ALL';
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cart](
	[cart_id] [int] IDENTITY(1,1) NOT NULL,
	[totalprice] [float] NULL,
	[user_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cart_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cart_product]    Script Date: 4/6/2026 2:01:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cart_product](
	[cart_product_id] [int] IDENTITY(1,1) NOT NULL,
	[cartproduct_size] [varchar](255) NULL,
	[create_at] [datetime2](6) NOT NULL,
	[quantity] [int] NOT NULL,
	[total_price] [float] NULL,
	[cart_id] [int] NULL,
	[product_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[cart_product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cart_product_topping]    Script Date: 4/6/2026 2:01:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cart_product_topping](
	[cart_product_id] [int] NOT NULL,
	[topping_id] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[invalid_refresh_tokens]    Script Date: 4/6/2026 2:01:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[invalid_refresh_tokens](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[jti] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_details]    Script Date: 4/6/2026 2:01:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_details](
	[orderdetails_id] [int] IDENTITY(1,1) NOT NULL,
	[cartproduct_size] [varchar](255) NULL,
	[create_at] [datetime2](6) NOT NULL,
	[quantity] [int] NOT NULL,
	[total_price] [float] NULL,
	[order_id] [bigint] NULL,
	[product_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[orderdetails_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_details_topping]    Script Date: 4/6/2026 2:01:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_details_topping](
	[orderdetails_id] [int] NOT NULL,
	[topping_id] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 4/6/2026 2:01:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[order_id] [bigint] NOT NULL,
	[created_at] [datetime2](6) NOT NULL,
	[expired_at] [datetime2](6) NOT NULL,
	[status] [varchar](255) NOT NULL,
	[total_price] [float] NOT NULL,
	[user_id] [int] NULL,
	[type_order] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders_history]    Script Date: 4/6/2026 2:01:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders_history](
	[order_history_id] [bigint] IDENTITY(1,1) NOT NULL,
	[total_price] [bigint] NULL,
	[order_entity_order_id] [bigint] NULL,
	[user_id] [int] NULL,
	[time_order_history] [datetime2](7) NULL,
	[status] [nvarchar](155) NULL,
PRIMARY KEY CLUSTERED 
(
	[order_history_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[otp_email]    Script Date: 4/6/2026 2:01:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[otp_email](
	[otp_email_id] [bigint] IDENTITY(1,1) NOT NULL,
	[email] [varchar](255) NOT NULL,
	[expirytime] [datetime2](6) NOT NULL,
	[otp_email] [varchar](255) NOT NULL,
	[type_otp] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[otp_email_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[permissions]    Script Date: 4/6/2026 2:01:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[permissions](
	[id_permission] [int] IDENTITY(1,1) NOT NULL,
	[name_permission] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_permission] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_size]    Script Date: 4/6/2026 2:01:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_size](
	[product_id] [int] NOT NULL,
	[size_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC,
	[size_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_topping]    Script Date: 4/6/2026 2:01:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_topping](
	[product_id] [int] NOT NULL,
	[topping_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC,
	[topping_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 4/6/2026 2:01:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[product_category] [nvarchar](100) NOT NULL,
	[product_code] [varchar](255) NOT NULL,
	[product_img] [varchar](255) NOT NULL,
	[product_name] [nvarchar](250) NOT NULL,
	[product_price] [float] NOT NULL,
	[product_sale] [int] NULL,
	[product_active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 4/6/2026 2:01:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id_role] [int] IDENTITY(1,1) NOT NULL,
	[name_role] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles_permission]    Script Date: 4/6/2026 2:01:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles_permission](
	[id_role] [int] NOT NULL,
	[id_permission] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_role] ASC,
	[id_permission] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sizes]    Script Date: 4/6/2026 2:01:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sizes](
	[size_id] [int] IDENTITY(1,1) NOT NULL,
	[size_type] [varchar](255) NULL,
	[price_size] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[size_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[topping]    Script Date: 4/6/2026 2:01:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[topping](
	[topping_id] [int] IDENTITY(1,1) NOT NULL,
	[name_topping] [nvarchar](225) NOT NULL,
	[price_topping] [float] NOT NULL,
	[type_topping] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[topping_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_account]    Script Date: 4/6/2026 2:01:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_account](
	[id_user] [int] IDENTITY(1,1) NOT NULL,
	[account_user] [varchar](255) NULL,
	[user_active] [bit] NOT NULL,
	[date_user] [date] NULL,
	[email_user] [varchar](255) NOT NULL,
	[fullname] [nvarchar](100) NULL,
	[password_user] [varchar](255) NULL,
	[phone_user] [varchar](255) NULL,
	[picture] [nvarchar](255) NULL,
	[provider] [varchar](255) NOT NULL,
	[provider_id] [varchar](255) NOT NULL,
	[address] [nvarchar](255) NULL,
	[create_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_role]    Script Date: 4/6/2026 2:01:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_role](
	[id_user] [int] NOT NULL,
	[id_role] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_user] ASC,
	[id_role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET IDENTITY_INSERT [dbo].[cart] ON 

INSERT [dbo].[cart] ([cart_id], [totalprice], [user_id]) VALUES (37, 60000, 1)
INSERT [dbo].[cart] ([cart_id], [totalprice], [user_id]) VALUES (40, 0, 24)
SET IDENTITY_INSERT [dbo].[cart] OFF
GO
SET IDENTITY_INSERT [dbo].[cart_product] ON 

INSERT [dbo].[cart_product] ([cart_product_id], [cartproduct_size], [create_at], [quantity], [total_price], [cart_id], [product_id]) VALUES (44, N'S', CAST(N'2026-03-14T19:57:03.3349620' AS DateTime2), 1, 30000, 37, 90)
INSERT [dbo].[cart_product] ([cart_product_id], [cartproduct_size], [create_at], [quantity], [total_price], [cart_id], [product_id]) VALUES (45, N'M', CAST(N'2026-03-14T19:57:18.5088450' AS DateTime2), 1, 30000, 37, 90)
SET IDENTITY_INSERT [dbo].[cart_product] OFF
GO
INSERT [dbo].[cart_product_topping] ([cart_product_id], [topping_id]) VALUES (44, 1)
INSERT [dbo].[cart_product_topping] ([cart_product_id], [topping_id]) VALUES (44, 2)
INSERT [dbo].[cart_product_topping] ([cart_product_id], [topping_id]) VALUES (45, 2)
GO
SET IDENTITY_INSERT [dbo].[invalid_refresh_tokens] ON 

INSERT [dbo].[invalid_refresh_tokens] ([id], [jti]) VALUES (1, N'd9a2577e-9fd6-4a99-b568-54701e2688ed')
INSERT [dbo].[invalid_refresh_tokens] ([id], [jti]) VALUES (2, N'ff23c164-a8e2-4baf-a729-00533c07c01d')
INSERT [dbo].[invalid_refresh_tokens] ([id], [jti]) VALUES (3, N'7aaa8762-5111-4396-aa88-e96b7929aae6')
GO
SET IDENTITY_INSERT [dbo].[invalid_refresh_tokens] OFF
GO
SET IDENTITY_INSERT [dbo].[order_details] ON 

INSERT [dbo].[order_details] ([orderdetails_id], [cartproduct_size], [create_at], [quantity], [total_price], [order_id], [product_id]) VALUES (1171, NULL, CAST(N'2026-02-27T04:44:35.0000000' AS DateTime2), 1, 27000, 260227114435530, 92)
INSERT [dbo].[order_details] ([orderdetails_id], [cartproduct_size], [create_at], [quantity], [total_price], [order_id], [product_id]) VALUES (1172, NULL, CAST(N'2026-02-27T04:48:39.0000000' AS DateTime2), 1, 22000, 260227114839115, 91)
INSERT [dbo].[order_details] ([orderdetails_id], [cartproduct_size], [create_at], [quantity], [total_price], [order_id], [product_id]) VALUES (1173, NULL, CAST(N'2026-02-27T04:49:13.0000000' AS DateTime2), 1, 22000, 260227114913521, 91)
SET IDENTITY_INSERT [dbo].[order_details] OFF
GO
INSERT [dbo].[order_details_topping] ([orderdetails_id], [topping_id]) VALUES (1175, 1)
INSERT [dbo].[order_details_topping] ([orderdetails_id], [topping_id]) VALUES (1176, 1)
INSERT [dbo].[order_details_topping] ([orderdetails_id], [topping_id]) VALUES (1208, 1)
GO
INSERT [dbo].[orders] ([order_id], [created_at], [expired_at], [status], [total_price], [user_id], [type_order]) VALUES (260227114435530, CAST(N'2026-02-27T11:44:35.9401580' AS DateTime2), CAST(N'2026-02-27T11:50:35.9401580' AS DateTime2), N'CANCELLED', 27000, 22, N'ORDER_CART')
INSERT [dbo].[orders] ([order_id], [created_at], [expired_at], [status], [total_price], [user_id], [type_order]) VALUES (260227114839115, CAST(N'2026-02-27T11:48:39.4953310' AS DateTime2), CAST(N'2026-02-27T11:54:39.4953310' AS DateTime2), N'CANCELLED', 22000, 22, N'ORDER_CART')
INSERT [dbo].[orders] ([order_id], [created_at], [expired_at], [status], [total_price], [user_id], [type_order]) VALUES (260227114913521, CAST(N'2026-02-27T11:49:13.1324280' AS DateTime2), CAST(N'2026-02-27T11:55:13.1324280' AS DateTime2), N'PAID', 22000, 22, N'ORDER_NOW')
GO
SET IDENTITY_INSERT [dbo].[orders_history] ON 

INSERT [dbo].[orders_history] ([order_history_id], [total_price], [order_entity_order_id], [user_id], [time_order_history], [status]) VALUES (1149, 22000, 260227114913521, 22, CAST(N'2026-02-27T11:49:31.0000000' AS DateTime2), N'PAID')
INSERT [dbo].[orders_history] ([order_history_id], [total_price], [order_entity_order_id], [user_id], [time_order_history], [status]) VALUES (1150, 27000, 260227114947226, 22, CAST(N'2026-02-27T11:49:59.0000000' AS DateTime2), N'PAID')
INSERT [dbo].[orders_history] ([order_history_id], [total_price], [order_entity_order_id], [user_id], [time_order_history], [status]) VALUES (1151, 27000, 260227114435530, 22, CAST(N'2026-02-27T11:51:28.1062081' AS DateTime2), N'CANCELLED')
SET IDENTITY_INSERT [dbo].[orders_history] OFF
GO
SET IDENTITY_INSERT [dbo].[otp_email] ON 

INSERT [dbo].[otp_email] ([otp_email_id], [email], [expirytime], [otp_email], [type_otp]) VALUES (1, N'huynhtanlocpp09@gmail.com', CAST(N'2026-02-13T16:53:39.5934570' AS DateTime2), N'$2a$10$PhtiqbSGfNIVztgrEGkdDOvQGtCMuS544JwzSDhdlNjPzy4O6ypzy', N'CHANGE_PASSWORD')
INSERT [dbo].[otp_email] ([otp_email_id], [email], [expirytime], [otp_email], [type_otp]) VALUES (2, N'huynhtanlocpp09@gmail.com', CAST(N'2026-02-13T17:07:11.2261870' AS DateTime2), N'$2a$10$GhnK.t9w0KtJHn2rcDrg0OWE9HfqE5gpq/HNaBA8rcsyeeFsZdnpi', N'CHANGE_PASSWORD')
INSERT [dbo].[otp_email] ([otp_email_id], [email], [expirytime], [otp_email], [type_otp]) VALUES (3, N'huynhtanlocpp09@gmail.com', CAST(N'2026-02-13T17:07:11.2281860' AS DateTime2), N'$2a$10$wBKj.mSO6uzpZMGdvrovXObOwIBmlgcD62M1ImVrzJstcvpiYhTWi', N'CHANGE_PASSWORD')
SET IDENTITY_INSERT [dbo].[otp_email] OFF
GO
SET IDENTITY_INSERT [dbo].[permissions] ON 

INSERT [dbo].[permissions] ([id_permission], [name_permission]) VALUES (1, N'FULL')
INSERT [dbo].[permissions] ([id_permission], [name_permission]) VALUES (2, N'READ')
INSERT [dbo].[permissions] ([id_permission], [name_permission]) VALUES (3, N'UPDATE')
SET IDENTITY_INSERT [dbo].[permissions] OFF
GO
INSERT [dbo].[product_size] ([product_id], [size_id]) VALUES (81, 1)
INSERT [dbo].[product_size] ([product_id], [size_id]) VALUES (81, 2)
INSERT [dbo].[product_size] ([product_id], [size_id]) VALUES (81, 3)
GO
INSERT [dbo].[product_topping] ([product_id], [topping_id]) VALUES (81, 1)
INSERT [dbo].[product_topping] ([product_id], [topping_id]) VALUES (81, 2)
INSERT [dbo].[product_topping] ([product_id], [topping_id]) VALUES (81, 3)
GO
SET IDENTITY_INSERT [dbo].[products] ON 

INSERT [dbo].[products] ([product_id], [product_category], [product_code], [product_img], [product_name], [product_price], [product_sale], [product_active]) VALUES (81, N'americano', N'cfc30', N'https://res.cloudinary.com/djkif9ubs/image/upload/f_auto,q_auto/AMERICANO_1.png', N'Americano truyền thống', 30000, 13000, 1)
INSERT [dbo].[products] ([product_id], [product_category], [product_code], [product_img], [product_name], [product_price], [product_sale], [product_active]) VALUES (82, N'americano', N'cfc31', N'https://res.cloudinary.com/djkif9ubs/image/upload/f_auto,q_auto/AMERICANO_2.png', N'Americano đá', 32000, NULL, 1)
INSERT [dbo].[products] ([product_id], [product_category], [product_code], [product_img], [product_name], [product_price], [product_sale], [product_active]) VALUES (85, N'americano', N'cfc34', N'https://res.cloudinary.com/djkif9ubs/image/upload/f_auto,q_auto/AMERICANO_5.png', N'Americano mật ong', 35000, 33000, 1)
SET IDENTITY_INSERT [dbo].[products] OFF
GO
SET IDENTITY_INSERT [dbo].[roles] ON 

INSERT [dbo].[roles] ([id_role], [name_role]) VALUES (1, N'ADMIN')
INSERT [dbo].[roles] ([id_role], [name_role]) VALUES (2, N'USER')
SET IDENTITY_INSERT [dbo].[roles] OFF
GO
INSERT [dbo].[roles_permission] ([id_role], [id_permission]) VALUES (1, 1)
INSERT [dbo].[roles_permission] ([id_role], [id_permission]) VALUES (2, 1)
INSERT [dbo].[roles_permission] ([id_role], [id_permission]) VALUES (2, 2)
GO
SET IDENTITY_INSERT [dbo].[sizes] ON 

INSERT [dbo].[sizes] ([size_id], [size_type], [price_size]) VALUES (1, N'S', 0)
INSERT [dbo].[sizes] ([size_id], [size_type], [price_size]) VALUES (2, N'M', 5000)
INSERT [dbo].[sizes] ([size_id], [size_type], [price_size]) VALUES (3, N'L', 8000)
SET IDENTITY_INSERT [dbo].[sizes] OFF
GO
SET IDENTITY_INSERT [dbo].[topping] ON 

INSERT [dbo].[topping] ([topping_id], [name_topping], [price_topping], [type_topping]) VALUES (1, N'Trân châu đen', 5000, N'A')
INSERT [dbo].[topping] ([topping_id], [name_topping], [price_topping], [type_topping]) VALUES (2, N'Thạch cà phê', 7000, N'B')
INSERT [dbo].[topping] ([topping_id], [name_topping], [price_topping], [type_topping]) VALUES (3, N'Kem cheese', 10000, N'C')
SET IDENTITY_INSERT [dbo].[topping] OFF
GO
SET IDENTITY_INSERT [dbo].[user_account] ON 

INSERT [dbo].[user_account] ([id_user], [account_user], [user_active], [date_user], [email_user], [fullname], [password_user], [phone_user], [picture], [provider], [provider_id], [address], [create_at]) VALUES (1, N'admin', 1, CAST(N'2004-10-27' AS Date), N'huynhtanlocpp089@gmail.com', N'admin', N'$2a$10$XH1klmddGRJSnHGXYpMBveO6o6sjDO1KJ./umvgzj2XJrkfZw.bwe', N'0977958350', NULL, N'LOCAL', N'd2c9d295-97d5-41c6-91b0-3ce232be29f4', N'', CAST(N'2026-02-20T15:11:17.720' AS DateTime))
INSERT [dbo].[user_account] ([id_user], [account_user], [user_active], [date_user], [email_user], [fullname], [password_user], [phone_user], [picture], [provider], [provider_id], [address], [create_at]) VALUES (22, NULL, 1, NULL, N'huynhtanlocpp09@gmail.com', N'Lộc Huỳnh Tấn Lộc', NULL, NULL, N'https://res.cloudinary.com/djkif9ubs/image/upload/v1775232310/uploads/b8ce3b2b-bf5d-4d15-9d79-622fb41c8340.png', N'GOOGLE', N'102954401833197217473', N'', CAST(N'2026-02-20T15:11:17.720' AS DateTime))
SET IDENTITY_INSERT [dbo].[user_account] OFF
GO
INSERT [dbo].[user_role] ([id_user], [id_role]) VALUES (1, 1)
INSERT [dbo].[user_role] ([id_user], [id_role]) VALUES (22, 2)
INSERT [dbo].[user_role] ([id_user], [id_role]) VALUES (24, 2)
GO
/****** Object:  Index [UK_9emlp6m95v5er2bcqkjsw48he]    Script Date: 4/6/2026 2:01:31 AM ******/
ALTER TABLE [dbo].[cart] ADD  CONSTRAINT [UK_9emlp6m95v5er2bcqkjsw48he] UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_922x4t23nx64422orei4meb2y]    Script Date: 4/6/2026 2:01:31 AM ******/
ALTER TABLE [dbo].[products] ADD  CONSTRAINT [UK_922x4t23nx64422orei4meb2y] UNIQUE NONCLUSTERED 
(
	[product_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_huvt67m8co70tcbe9yogs1yan]    Script Date: 4/6/2026 2:01:31 AM ******/
ALTER TABLE [dbo].[roles] ADD  CONSTRAINT [UK_huvt67m8co70tcbe9yogs1yan] UNIQUE NONCLUSTERED 
(
	[name_role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_nerod5trvp5o03xdfhv4x81g6]    Script Date: 4/6/2026 2:01:31 AM ******/
ALTER TABLE [dbo].[user_account] ADD  CONSTRAINT [UK_nerod5trvp5o03xdfhv4x81g6] UNIQUE NONCLUSTERED 
(
	[email_user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ((1)) FOR [product_active]
GO
ALTER TABLE [dbo].[cart]  WITH CHECK ADD  CONSTRAINT [FKl0ul1sjqu139invpvonhyf0t0] FOREIGN KEY([user_id])
REFERENCES [dbo].[user_account] ([id_user])
GO
ALTER TABLE [dbo].[cart] CHECK CONSTRAINT [FKl0ul1sjqu139invpvonhyf0t0]
GO
ALTER TABLE [dbo].[cart_product]  WITH CHECK ADD  CONSTRAINT [FKlv5x4iresnv4xspvomrwd8ej9] FOREIGN KEY([cart_id])
REFERENCES [dbo].[cart] ([cart_id])
GO
ALTER TABLE [dbo].[cart_product] CHECK CONSTRAINT [FKlv5x4iresnv4xspvomrwd8ej9]
GO
ALTER TABLE [dbo].[cart_product]  WITH CHECK ADD  CONSTRAINT [FKreo7xwp4sy8mglrlf0b6hkr3e] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([product_id])
GO
ALTER TABLE [dbo].[cart_product] CHECK CONSTRAINT [FKreo7xwp4sy8mglrlf0b6hkr3e]
GO
ALTER TABLE [dbo].[cart_product_topping]  WITH CHECK ADD  CONSTRAINT [FKgbdb4mfkhjjky1wb14n6tc93m] FOREIGN KEY([topping_id])
REFERENCES [dbo].[topping] ([topping_id])
GO
ALTER TABLE [dbo].[cart_product_topping] CHECK CONSTRAINT [FKgbdb4mfkhjjky1wb14n6tc93m]
GO
ALTER TABLE [dbo].[cart_product_topping]  WITH CHECK ADD  CONSTRAINT [FKo13d2onki55ysf4r54vvxwyl] FOREIGN KEY([cart_product_id])
REFERENCES [dbo].[cart_product] ([cart_product_id])
GO
ALTER TABLE [dbo].[cart_product_topping] CHECK CONSTRAINT [FKo13d2onki55ysf4r54vvxwyl]
GO
ALTER TABLE [dbo].[order_details]  WITH CHECK ADD  CONSTRAINT [FK4q98utpd73imf4yhttm3w0eax] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([product_id])
GO
ALTER TABLE [dbo].[order_details] CHECK CONSTRAINT [FK4q98utpd73imf4yhttm3w0eax]
GO
ALTER TABLE [dbo].[order_details]  WITH CHECK ADD  CONSTRAINT [FKjyu2qbqt8gnvno9oe9j2s2ldk] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([order_id])
GO
ALTER TABLE [dbo].[order_details] CHECK CONSTRAINT [FKjyu2qbqt8gnvno9oe9j2s2ldk]
GO
ALTER TABLE [dbo].[order_details_topping]  WITH CHECK ADD  CONSTRAINT [FKbfoib8sc6thsaqwmm10dp69nl] FOREIGN KEY([topping_id])
REFERENCES [dbo].[topping] ([topping_id])
GO
ALTER TABLE [dbo].[order_details_topping] CHECK CONSTRAINT [FKbfoib8sc6thsaqwmm10dp69nl]
GO
ALTER TABLE [dbo].[order_details_topping]  WITH CHECK ADD  CONSTRAINT [FKdi0sr6hwdb0m1cvtanjohn4uh] FOREIGN KEY([orderdetails_id])
REFERENCES [dbo].[order_details] ([orderdetails_id])
GO
ALTER TABLE [dbo].[order_details_topping] CHECK CONSTRAINT [FKdi0sr6hwdb0m1cvtanjohn4uh]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FKt1jid9kyxl7m56q1iclyrmrgw] FOREIGN KEY([user_id])
REFERENCES [dbo].[user_account] ([id_user])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FKt1jid9kyxl7m56q1iclyrmrgw]
GO
ALTER TABLE [dbo].[orders_history]  WITH CHECK ADD  CONSTRAINT [FK4tcuitj6dwibihkxqkkghsegj] FOREIGN KEY([user_id])
REFERENCES [dbo].[user_account] ([id_user])
GO
ALTER TABLE [dbo].[orders_history] CHECK CONSTRAINT [FK4tcuitj6dwibihkxqkkghsegj]
GO
ALTER TABLE [dbo].[orders_history]  WITH CHECK ADD  CONSTRAINT [FKok5p3xrhmhwvijy1ueawjkuhw] FOREIGN KEY([order_entity_order_id])
REFERENCES [dbo].[orders] ([order_id])
GO
ALTER TABLE [dbo].[orders_history] CHECK CONSTRAINT [FKok5p3xrhmhwvijy1ueawjkuhw]
GO
ALTER TABLE [dbo].[product_size]  WITH CHECK ADD  CONSTRAINT [FK1yl8bbmokvonm64131xlscnci] FOREIGN KEY([size_id])
REFERENCES [dbo].[sizes] ([size_id])
GO
ALTER TABLE [dbo].[product_size] CHECK CONSTRAINT [FK1yl8bbmokvonm64131xlscnci]
GO
ALTER TABLE [dbo].[product_size]  WITH CHECK ADD  CONSTRAINT [FK9qjgp0xvl5jfetdt683i7wqwr] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([product_id])
GO
ALTER TABLE [dbo].[product_size] CHECK CONSTRAINT [FK9qjgp0xvl5jfetdt683i7wqwr]
GO
ALTER TABLE [dbo].[product_topping]  WITH CHECK ADD  CONSTRAINT [FK4uy5v1utgk49voy8nqwbm9xah] FOREIGN KEY([topping_id])
REFERENCES [dbo].[topping] ([topping_id])
GO
ALTER TABLE [dbo].[product_topping] CHECK CONSTRAINT [FK4uy5v1utgk49voy8nqwbm9xah]
GO
ALTER TABLE [dbo].[product_topping]  WITH CHECK ADD  CONSTRAINT [FKpyf71lqefpthscbp2i9nbv3fl] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([product_id])
GO
ALTER TABLE [dbo].[product_topping] CHECK CONSTRAINT [FKpyf71lqefpthscbp2i9nbv3fl]
GO
ALTER TABLE [dbo].[roles_permission]  WITH CHECK ADD  CONSTRAINT [FKkdavo0cswk140cu8fkw0pf956] FOREIGN KEY([id_permission])
REFERENCES [dbo].[permissions] ([id_permission])
GO
ALTER TABLE [dbo].[roles_permission] CHECK CONSTRAINT [FKkdavo0cswk140cu8fkw0pf956]
GO
ALTER TABLE [dbo].[roles_permission]  WITH CHECK ADD  CONSTRAINT [FKoqs410xyy4mgopuvo7rxrl1jt] FOREIGN KEY([id_role])
REFERENCES [dbo].[roles] ([id_role])
GO
ALTER TABLE [dbo].[roles_permission] CHECK CONSTRAINT [FKoqs410xyy4mgopuvo7rxrl1jt]
GO
ALTER TABLE [dbo].[user_role]  WITH CHECK ADD  CONSTRAINT [FK2yqlxhjhgilevh7qvt2ve6udh] FOREIGN KEY([id_role])
REFERENCES [dbo].[roles] ([id_role])
GO
ALTER TABLE [dbo].[user_role] CHECK CONSTRAINT [FK2yqlxhjhgilevh7qvt2ve6udh]
GO
ALTER TABLE [dbo].[user_role]  WITH CHECK ADD  CONSTRAINT [FKmsj2itk680u3kf123ap4u35ew] FOREIGN KEY([id_user])
REFERENCES [dbo].[user_account] ([id_user])
GO
ALTER TABLE [dbo].[user_role] CHECK CONSTRAINT [FKmsj2itk680u3kf123ap4u35ew]
EXEC sp_MSforeachtable 'ALTER TABLE ? CHECK CONSTRAINT ALL';
GO
